<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
<% include ../index_partials/head %>
</head>
<body>
<div class="container">
</div>
<div class="container">
	<div class="jumbotron text-center">
		<h3><span class="fa fa-lock"></span>Your profile is succesfully deleted</h3>
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
	</div>
</div>
</body>
</html>