<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
<% include ../partials/head %>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<h1><span class="fa fa-sign-in"></span>Retrieve password</h1>
<h3>Please type your e-mai ladress to recieve password recovery link</h3>
	<!-- LOGIN FORM -->
	<form action="/retrievePassword" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control input-lg" name="email">
		</div>
		<button type="submit" class="btn btn-success">Send renewal link</button>
	</form>
	<hr>
	<p>Whant to just log in? <a href="/login">Login</a></p>
</div>
</div>
</body>
</html>
