<!-- views/index.ejs 

REFERENCE: http://bootsnipp.com/snippets/featured/simple-user-profile

-->
<!doctype html>
<html>
<head>
<% include ./index_partials/head %>

<link rel="stylesheet" href="css/apiQuiz.css"/>
 <script src="js/apiQuiz.js"></script>
 
</head>
<body>

  <% include ./index_partials/navbar %>

<dic class="main_body_background">
<div class="mainContainer container">
      <div class="row">
        <div class='col-md-3'>
            <ul id="sidebar" class="nav nav-pills nav-stacked">
                <li>
                <a id='api_quiz_select_button' href="javascript:void(0);">
                <span class="glyphicon glyphicon-off"></span>
                Select Quiz</a>
              </li>
              <li>
                <a id='api_quiz_details_button' href="javascript:void(0);">
                <span class="glyphicon glyphicon-off"></span>
                Quiz Details</a>
              </li>
           <li class="active">
                <a id="api_quiz_questions_button" href="javascript:void(0);">
              <span class="glyphicon glyphicon-signal"></span>
                Add Question</a>
          </li>
      
                <li>
            <a id='api_quiz_finish_button' href="javascript:void(0);">
            <span class="glyphicon glyphicon-off"></span>
            Finish and Create</a>
          </li>
    </ul>
            <div class='animated zoomInDown' class='row' id="api_quiz_sub_window_avalableTopics" >
                <h3>Avalable Topics:</h3>
                <!--<h3>Please select topic and then question to add:</h3>-->
                <ul class="list-group" id="api_quiz_sub_window_avalableTopics_list">
                    <!--Here we stick in content-->
                </ul>
                </div>
          </div>
              <div id='api_quiz_window_select' class='animated zoomInDown'>
        <div class="col-md-9">
        <!--<button id='generateCall'>call</button>-->
                  <div class="panel panel-info">
            <div class="panel-heading">
              <p style="float:left;" class=" text-info"> <%=new Date().toJSON().slice(0,10) +" "+ new Date().toJSON().slice(11,16)%> </p>
            <h5 style="float:right;">Please select quiz you want to edit:</h5>
            </br>
            </br>
            </div>
            <div class="panel-body">
              <div class="row">
                </br>
                </div>
<div id="generatingUserQuizes"></div>
              </div>
            </div>
          </div>
           <!----- finishing md5 here-->
        </div><!----- finishing info container-->
          
          
          
    <div id='api_quiz_window_info' class='animated zoomInDown'>
        <div class="col-md-9">
        <!--<button id='generateCall'>call</button>-->
                  <div class="panel panel-info">
            <div class="panel-heading">
              <p style="float:left;" class=" text-info"> <%=new Date().toJSON().slice(0,10) +" "+ new Date().toJSON().slice(11,16)%> </p>
            <h5 style="float:right;">Oweral Quiz information</h5>
            </br>
            </br>
            </div>
            <div class="panel-body">
              <div class="row">
                </br>
                </div>
                <div class=" col-md-12 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>NameOfTheQuiz:</td>
                        <td><span id='api_quiz_name'>Quiz1</span>
                      </tr>
                      <tr>
                        <td>Topic: </td>
                        <td><span id='api_quiz_topic'>Unknown Topic</a></span></td>
                      </tr>
                      <td>QuestionCount</td>
                        <td><span id='api_quiz_questionCount' class='fields'>00</span>
                      </tr>
                      <tr>
                        <td>Created:</td>
                        <td><span id='api_quiz_dateCreated' class='fields'>2000/02/12</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
           <!----- finishing md5 here-->
        </div><!----- finishing info container-->
        
        <!--ADD QUESTION ONTO THIS QUIZ-->
        
         <div id='api_quiz_window_questions' class='animated zoomInDown'>
        <div class="col-md-9">
        <!--<button id='generateCall'>call</button>-->
                  <div class="panel panel-info">
            <div class="panel-heading">
              <p style="float:left;" class=" text-info"> <%=new Date().toJSON().slice(0,10) +" "+ new Date().toJSON().slice(11,16)%> </p>
            <h5 style="float:right;">Adding new Questions+</h5>
            </br>
            </br>
            </div>
            <div class="panel-body">
                <h3>Questions already attached to the quiz:</h3>
                <div class="list-group" id="api_quiz_sub_window_attachedQuestions">

                    
                </div>
            <!--FINISHING ATTACHED QUESTIONS HERE-->
            
            <hr>
                
                 <div id="api_quiz_sub_window_avalableQuestions">
                <h3 id='api_quiz_topics_title'>Questions for topic: (not yet selected)</h3>
                <ul class="list-group" id="api_quiz_sub_window_avalableQuestion_list">
                    <!--Here we stick in content-->
                    <h6>if for some reason when you click on topic nothing comes up,
                    then please visit this web site and tell browser that its ok to access it
                    <a alt='jservice website link' href = 'https://jservice.io'>www.jservice.io</a></h6>
                </ul>
                </div>
                
                <br>
                </hr>
                <!--STARTIN QUESTION AREA HERE::-->
                <br>
                <br>

                
                
              </div>
            </div>
          </div>
           <!----- finishing md5 here-->
        </div><!----- finishing info container-->
        
                    
                    
                    <!--//FINISHA AND CREATE CONTAINER IS STARTING HERE-->
                    
                        <div id='api_quiz_window_finish' class='animated zoomInDown'>
        <div class="col-md-9">
        <!--<button id='generateCall'>call</button>-->
                  <div class="panel panel-info">
            <div class="panel-heading">
              <p style="float:left;" class=" text-info"> <%=new Date().toJSON().slice(0,10) +" "+ new Date().toJSON().slice(11,16)%> </p>
            <h5 style="float:right;">Finalizing everything</h5>
            </br>
            </br>
            </div>
            <div class="panel-body">
              <div class="row">
                </br>
                </div>
                <div class=" col-md-12 col-lg-12 "> 
                    <h3>Finishing stage container here</h3>
                    <!--<button id="finishAndCreate"></button>-->
              <p><a href="javascript:void(0)" id="finishAndCreate" class="btn btn-primary" role="button">Finish</a></p>
                </div>
              </div>
            </div>
          </div>
           <!----- finishing md5 here-->
        </div><!----- finishing info container-->
                    
                    
                    
        
        
    
      </div>
    </div>
    
        <footer>
        <% include ./index_partials/footer %>
    </footer>
    
    </div>
    
    
    
</body>
</html>
    