<!-- views/index.ejs 

REFERENCE: http://bootsnipp.com/snippets/featured/simple-user-profile

-->
<!doctype html>
<html>
<head>
<% include ./index_partials/head %>

<script>
     // var  workspace = document.getElementById('api_quiz_sub_window_avalableTopics_list')
               //global variable
               var userQuestions = [];
               var tempArray =[];
               var topicx = '';
            //   GLOBAL FUNCTIONS
            
            
            //@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ REMOVE QUESTIONS FROM THE LIST @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            
            
                                function removeQuestionFromList(id){
                                    var id = "added_"+id;
                                    console.log(id);
                                    
                                    for(var i =0;i<userQuestions.length;i++){
                                        console.log(i);
                                        if("added_"+userQuestions[i].id==id){
                                            //remove here
                                            userQuestions.splice(i, 1);
                                            
                                            console.log('removing element no: '+i);
                                            $( "#"+id).remove();
                                        };
                                    }
                                }
                                
            //@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ADD QUESTIONS TO USER LIST @@@@@@@@@@@@@@@@@@@@@@@
                                function addQuestionToList(index){
                                    
                                   

                                    //data.topic = topic.topic;
                                  //informing that question is already there
                                    var data = tempArray[index-1];
                                    data.tempTopic = topicx;
                                    userQuestions.push(data);
                                    
                                     //$("#question_"+data.id).remove();
                                     //addClass('animated zoomIn')
                                    
                                    //adding line to inform that question is takken
                        var tmp = $('<a/>', {
                            class:"list-group-item animated zoomIn",
                            id:"added_"+data.id,
                            style:"",
                        }).appendTo('#api_quiz_sub_window_attachedQuestions');
                        
                        //description
                         $('<h4/>', {
                            class:'list-group-item-heading',
                            style:"",
                            text:"Question_id:" + data.id +", Dificulty: " + data.value + ", Topic: "+data.tempTopic
                        }).appendTo(tmp);
                        
                        //Question itself
                        $('<h4/>', {
                            class:'list-group-item-heading',
                            id:'question_h_'+data.id,
                            style:"",
                            text: "Question: "+data.question
                        }).appendTo(tmp);
                        
                        //answer
                         $('<p/>', {
                            style:"",
                            class:'list-group-item-text',
                            text: "Answer: "+data.answer
                        }).appendTo(tmp);
                        
                        
                        $('<a/>', {
                            id: 'add_button_'+data.id,
                            href: 'javascript:removeQuestionFromList('+data.id+')',
                            style:"margin-left:10px;color:red;",
                            text: 'Remove'
                        }).appendTo(tmp);
                        
                        $('<a/>', {
                            id: 'edit_button_'+data.id,
                            href: 'javascript:editQuestionInList('+data.id+')',
                            style:"margin-left:10px;color:blue;",
                            text: 'Edit'
                        }).appendTo(tmp);
                        
                                }
                //@@@@@@@@@@@@@@@@@@@@@ HIDE EDITABLE DETAILS @@@@@@@@@@@@@@@@@@@@@@@@@
                
                function hideEditQuestionInList(id){
                    
               var button_edit = document.getElementById('edit_button_'+id);
               button_edit.innerHTML = "Edit";
               button_edit.href = 'javascript:editQuestionInList('+id+')';
               
               $("#edit_"+id).remove();
               
                }
                                
              //@@@@@@@@@@@@@@@@@@@@@@@@ EDIT QUESTION IN THE LIST @@@@@@@@@@@@@@@@@@@@

                                      
                               function editQuestionInList(data){
                                   
               var button_edit = document.getElementById('edit_button_'+data);
               button_edit.innerHTML = "Hide Edit";
               button_edit.href = 'javascript:hideEditQuestionInList('+data+')'
                           // href: 'javascript:editQuestionInList('+data.id+')',
                                   
                                  //id to attach to it::
                                  //added_"+data
                            //finding question field:    
                                  var question = document.getElementById('question_h_'+data);
                                  
                                  console.log(data);
                            var tmp = $('<div/>', {
                            //class:"list-group-item",
                            class:"form-group has-warning has-feedback",
                            id:"edit_"+data
                            //style:"border:1px solid black",
                        }).appendTo('#added_'+data);

                            $('<h3/>', {
                            class:'',
                            style:"",
                            text:'Edit Question:'
 
                        }).appendTo(tmp);
                        
                           $('<label/>', {
                            class:'control-label',
                            for:"input_question"+data,
                            style:"",
                            text:'Question: '
 
                        }).appendTo(tmp);
                        
                                 
                                  
                           var tmp2 = $('<input/>', {
                            class:'form-control',
                            id:"input_question"+data,
                            style:"",
                            value: question.innerHTML
                        }).appendTo(tmp);
                                 
                                  
                          $('<span/>', {
                            class:'glyphicon glyphicon-warning-sign form-control-feedback',
                            style:""
                        }).appendTo(tmp2);
                                  
                                  
                                  
                                  
                              };
                                                        
                                
                                
              //@@@@@@@@@@@@@@@@@@@@@@@ DISPLAY QUESTIONS WHEN PRESSING TOPIC @@@@@@@@@@@@@@@@@
                                
                                
                                
                                
                                function displayQuestions(id,topic){
                                        //setting global variable topic
                                        topicx = topic.topic;
                                                      $.ajax({
                              type: "GET",
                              dataType: 'json',
                              url: "https://jservice.io/api/category?id="+id,
                              success: function(data) {
                                    //change topic of the HEad
                                    tempArray =[];
                                        document.getElementById("api_quiz_topics_title").innerHTML = 'Questions for topic: <b>'+topic.topic+"</b>";
                                        document.getElementById("api_quiz_sub_window_avalableQuestion_list").innerHTML = "";
                                        //add question code here
                                 // data = JSON.parse(data);
                                    for(var i = 0;i<data.clues_count;i++){

                                        tempArray.push(data.clues[i]);
                                        addQuestionElement(data.clues[i],i+1);
                                        
                                      
                              }
                              },
                              complete:function(){
                                        //after compreting load do something
                                    }
                              })//end ajax
                    }//end function
                        //generating question here
                        
                        
                         
               // @@@@@@@@@@@@@@@@@@@@@@@@@@ ADD QUESTION ELEMENT TO BIG TOPIC LIST @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                        
                        
                        
                        function addQuestionElement(data,index){
                        var tmp = $('<a/>', {
                            class:"list-group-item animated zoomIn",
                            id:"question_"+data.id,
                            style:"",
                        }).appendTo('#api_quiz_sub_window_avalableQuestion_list');
                        
                        //description
                         $('<h4/>', {
                            class:'list-group-item-heading',
                            style:"",
                            text: "Question_id:" + data.id + ", Dificulty: " + data.value
                        }).appendTo(tmp);
                        
                        //Question itself
                        $('<h4/>', {
                            class:'list-group-item-heading',
                            style:"",
                            text: "Question: "+data.question
                        }).appendTo(tmp);
                        
                        //answer
                         $('<p/>', {
                            style:"",
                            class:'list-group-item-text',
                            text: "Answer: "+data.answer
                        }).appendTo(tmp);

                            $('<a/>', {
                            id: 'add_button_'+data.id,
                            href: 'javascript:addQuestionToList('+index+')',
                            style:"margin-left:10px;",
                            text: 'Add'
                        }).appendTo(tmp);
                        
                    }
  $(document).ready(function() {
      
                          
                    function generateListElement(id,topic,count){
                       
                        var tmp = $('<a/>', {
                            id: id,
                            class:"list-group-item",
                            //style:"float:left",
                            href: 'javascript:displayQuestions('+id+",{topic:'"+topic+"'})",
                            text: topic
                        }).appendTo('#api_quiz_sub_window_avalableTopics_list');
                        
                        $('<span/>', {
                            id: id,
                            class:'badge',
                            style:"margin-left:10px;",
                            text: count
                        }).appendTo(tmp);
                    }
              $.ajax({
              type: "GET",
              dataType: 'json',
              url: "apiQuiz/getTopicList",
              success: function(data) {
                  //data = JSON.parse(data);
                    for(var i = 0;i<data.length;i++){
                        
                        generateListElement(data[i].id,data[i].title,data[i].clues_count);
              }
              },
              complete:function(){
                  
                        //after compreting load do something
                        
                    }
              })
        //   });
           
    //         $.get("apiQuiz/getTopicList", function(data, status){
    //                                 // data = JSON.parse(data);
    //               console.log(data);
    //                 for(var i = 0;i<data.length;i++){
    //                     console.log('running');
    //                     generateListElement(data[i].id,data[i].title,data[i].clues_count);
    //                 }
    // });

                   // generateListElement(001,'topic goes here',11);
    //deleting user part 
           //just login button:::::
    //   $('#generateCall').click(function() {
    //       var topics =[];
    //       var offset = 100;
    //       var whenToStop = 700;
    //       var counter = 0;
    //       for(var inn = 0 ; inn<whenToStop;inn++){
               
          
    //       $.ajax({
    //           type: "GET",
    //           dataType: 'json',
    //           url: "https://jservice.io/api/categories?count=100&offset=100"+offset,
    //           success: function(data) {
    //                                           //  if(inn===whenToStop){
    //                         // console.log("RUNNING");
    //                         // scanArray();
    //                 for(var i = 0; i < data.length;i++){
    //                       //var b = new Object();
    //                       //console.log(data[i]);
    //                       //b = data[i];
    //                       if(data[i].clues_count>80){
    //                       topics.push(data[i]);
    //                       //console.log('PUTTING IN, clues count: ' + data[i].clues_count);
    //                       }
    //                       //else console.log('skipping, clues count: '+ data[i].clues_count);
    //                   }
                      

    //                             //}
                    
    //       offset+=100;
                   
           
    //           },
    //           complete: function(){
    //               console.log('Call complete');
    //               counter++;
    //                 if(counter == whenToStop){
    //                     console.log("::::Its time to stop;:::::" + topics.length);
    //                     for (var i =0; i<topics.length;i++){
    //                       console.log('topic: '+topics[i].title);
    //                       console.log('clues: '+topics[i].clues_count);
    //                     }
                        
    //                 }
                            
                            
    //                     }
   
    //       });
    //     //   function scanArray(){
    //     //       var i = topics.length-1;
    //     //       while(i>0){
    //     //           if(topics[i].clues_count<100){
    //     //               topics.splice(i, 1);
    //     //               i--;
    //     //           }
                   
                   
    //     //           i--;
    //     //       }
    //     //       console.log(topics);
               
    //     //   }

    //       }
           
           
    //   }); //finishing login button
       
       //DISREGARD ABOVE, I WILL REMOVE IT LATTER< FOR NOW JUS LET IT STAY.. :)
       
    //     function switchMe(hiding,showing,param) {
    //         if(param == true){
    //             $('#'+showing).removeClass().addClass('animated zoomIn');
    //             return;
    //         }
    //       $('#' + hiding).removeClass().addClass('animated bounceOut')
    //       //animated bounceOut
    //       //old naim: zoomOutUp zoomInDown
    //           .one('webkitAnimationEnd oAnimationEnd', function() {
    //               $(this).removeClass().addClass('hidden_container');
    //                 $('#'+showing).removeClass().addClass('animated zoomIn');
    //               //$('#'+showing+' li').removeClass().addClass('');
    //           });
    //   }
               //------------------STARTING TO HANDLE SWITCH_SIDE MENU--------------------------------
      
    //   var current = 'api_quiz_window_info';
    //   var switch_to ='';
    
    //OND DOCUMENT LOAD::
               $('#api_quiz_window_info').show();
           $('#api_quiz_sub_window_avalableTopics').hide();
           $('#api_quiz_window_questions').hide();
           $('#api_quiz_window_finish').hide();
       
      
       $('#api_quiz_details_button').click(function() {
           $('#api_quiz_window_info').show();
           $('#api_quiz_sub_window_avalableTopics').hide();
           $('#api_quiz_window_questions').hide();
           $('#api_quiz_window_finish').hide();
           
           
           
        // switch_to = 'api_quiz_window_info';
        // switchMe(current,switch_to);
        // switchMe('api_quiz_sub_window_avalableTopics','');
        // current = 'api_quiz_window_info';
       
        
       });
       
        $('#api_quiz_questions_button').click(function() {
            $('#api_quiz_window_questions').show();
            $('#api_quiz_sub_window_avalableTopics').show();
            $('#api_quiz_window_info').hide();
            $('#api_quiz_window_finish').hide();
            
        // switch_to = 'api_quiz_window_questions';
        // switchMe(current,switch_to);
        // current = 'api_quiz_window_questions';
        // switchMe('api_quiz_sub_window_avalableTopics','api_quiz_sub_window_avalableTopics',true);
        
       });
       
              $('#api_quiz_finish_button').click(function() {
                  
            $('#api_quiz_window_info').hide();
           $('#api_quiz_sub_window_avalableTopics').hide();
           $('#api_quiz_window_questions').hide();
           $('#api_quiz_window_finish').show();
           
        // switch_to = 'api_quiz_window_finish';
        // switchMe(current,switch_to);
        // switchMe('api_quiz_sub_window_avalableTopics','');

        // current = 'api_quiz_window_finish';
       });
       
  });
</script>    

</head>
<body>
  <div class="container">
  <% include ./index_partials/navbar %>
  </div>
            <style>
/*      #sidebar {*/
/*    background-color: #191919;*/
/*    padding: 10px;*/
/*}*/
/*#sidebar a:hover, a:focus {*/
/*    color: #FFF;*/
/*    text-decoration: none;*/
/*}*/
/*#sidebar.nav > li > a,*/
/*#sidebar.nav > li > a:link {*/
/*    background-color: #191919;*/
/*    color: #FFF;*/
/*}*/
/*#sidebar.nav > li > a:hover,*/
/*#sidebar.nav > li > a:focus {*/
/*    background-color: #373737;*/
/*}*/
/*#sidebar.nav-pills > li.active > a,*/
/*#sidebar.nav-pills > li.active > a:hover,*/
/*#sidebar.nav-pills > li.active > a:focus {*/
/*    color: #FFF;*/
/*    background-color: #C72A25;*/
/*}*/
/*    </style>
<div class="container">
      <div class="row">
        <div class='col-md-3'>
            <ul id="sidebar" class="nav nav-pills nav-stacked">
              <li>
                <a id='api_quiz_details_button' href="#">
                <span class="glyphicon glyphicon-off"></span>
                Quiz Details</a>
              </li>
           <li class="active">
                <a id="api_quiz_questions_button" href="#">
              <span class="glyphicon glyphicon-signal"></span>
                Add Question</a>
          </li>
      
                <li>
            <a id='api_quiz_finish_button' href="#">
            <span class="glyphicon glyphicon-off"></span>
            Finish and Create</a>
          </li>
    </ul>
            <div class='animated zoomInDown' class='row' id="api_quiz_sub_window_avalableTopics" >
                <h3>Avalable Topics:</h3>
                <!--<h3>Please select topic and then question to add:</h3>-->
                <ul class="list-group" id="api_quiz_sub_window_avalableTopics_list">
                    <!--Here we stick in content-->
                </ul>
                </div>
          </div>
    <div id='api_quiz_window_info' class='animated zoomInDown'>
        <div class="col-md-9">
        <!--<button id='generateCall'>call</button>-->
                  <div class="panel panel-info">
            <div class="panel-heading">
              <p style="float:left;" class=" text-info"> <%=new Date().toJSON().slice(0,10) +" "+ new Date().toJSON().slice(11,16)%> </p>
            <h5 style="float:right;">Oweral Quiz information</h5>
            </br>
            </br>
            </div>
            <div class="panel-body">
              <div class="row">
                </br>
                </div>
                <div class=" col-md-12 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>NameOfTheQuiz:</td>
                        <td><span id='api_quiz_name'>Quiz1</span>
                      </tr>
                      <tr>
                        <td>Topic: </td>
                        <td><spanid='api_quiz_topic'>Unknown Topic</a></span></td>
                      </tr>
                      <td>QuestionCount</td>
                        <td><span id='api_quiz_questionCount' class='fields'>00</span>
                      </tr>
                      <tr>
                        <td>Created:</td>
                        <td>2000/02/12</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
           <!----- finishing md5 here-->
        </div><!----- finishing info container-->
        
        <!--ADD QUESTION ONTO THIS QUIZ-->
        
         <div id='api_quiz_window_questions' class='animated zoomInDown'>
        <div class="col-md-9">
        <!--<button id='generateCall'>call</button>-->
                  <div class="panel panel-info">
            <div class="panel-heading">
              <p style="float:left;" class=" text-info"> <%=new Date().toJSON().slice(0,10) +" "+ new Date().toJSON().slice(11,16)%> </p>
            <h5 style="float:right;">Adding new Questions+</h5>
            </br>
            </br>
            </div>
            <div class="panel-body">
                <h3>Questions already attached to the quiz:</h3>
                <div class="list-group" id="api_quiz_sub_window_attachedQuestions">

                    
                </div>
            <!--FINISHING ATTACHED QUESTIONS HERE-->
            
            <hr>
                
                 <div id="api_quiz_sub_window_avalableQuestions">
                <h3 id='api_quiz_topics_title'>Questions for topic: (not yet selected)</h3>
                <ul class="list-group" id="api_quiz_sub_window_avalableQuestion_list">
                    <!--Here we stick in content-->
                    <h6>if for some reason when you click on topic nothing comes up,
                    then please visit this web site and tell browser that its ok to access it
                    <a alt='jservice website link' href = 'https://jservice.io'>www.jservice.io</a></h6>
                </ul>
                </div>
                
                <br>
                </hr>
                <!--STARTIN QUESTION AREA HERE::-->
                <br>
                <br>

                
                
              </div>
            </div>
          </div>
           <!----- finishing md5 here-->
        </div><!----- finishing info container-->
        
                    
                    
                    <!--//FINISHA AND CREATE CONTAINER IS STARTING HERE-->
                    
                        <div id='api_quiz_window_finish' class='animated zoomInDown'>
        <div class="col-md-9">
        <!--<button id='generateCall'>call</button>-->
                  <div class="panel panel-info">
            <div class="panel-heading">
              <p style="float:left;" class=" text-info"> <%=new Date().toJSON().slice(0,10) +" "+ new Date().toJSON().slice(11,16)%> </p>
            <h5 style="float:right;">Oweral Quiz information</h5>
            </br>
            </br>
            </div>
            <div class="panel-body">
              <div class="row">
                </br>
                </div>
                <div class=" col-md-12 col-lg-12 "> 
                    <h3>Finishing stage container here</h3>
                </div>
              </div>
            </div>
          </div>
           <!----- finishing md5 here-->
        </div><!----- finishing info container-->
                    
                    
                    
        
        
    
      </div>
    </div>
</body>
</html>
    