<!-- views/index.ejs -->
<!doctype html>
<html>
<head>

<% include ./index_partials/head %>


</head>
<body>

<% include ./index_partials/navbar %>

<div class="mainContainer container">
	<div class="topPadding">
	    
    <h2 class="text-center">Chat</h2>
    <br/>
    <hr/>
    <br/>
	<!--<div class="jumbotron text-center">-->
	<!--	<h1><span class="fa fa-lock"></span>Welcome!</h1>-->
	<!--	<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>Logout</a>-->
	<!--	<a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Profile</a>-->
	<!--</div>-->
	</div>
</div>

    <footer>
        
        <% include ./index_partials/footer %>
        
    </footer>


</body>
</html>