<!-- views/index.ejs -->
<!doctype html>
<html>
<head>

<% include ./index_partials/head %>

<link rel="stylesheet" href="css/index_logged.css"/>
</head>
<body>


<% include ./index_partials/navbar %>


<div style="width:100%; padding:0;" class="container">
	<!--<div class="jumbotron text-center">-->
	<!--	<h1><span class="fa fa-lock"></span>Welcome!</h1>-->
	<!--	<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>Logout</a>-->
	<!--	<a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Profile</a>-->
	<!--</div>-->

</div>
</body>
</html>