<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
<% include ./partials/head %>
</head>
<body>
<div class="container">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="/profile">Profile</a></li>
  <li role="presentation"><a href="/newquiz">New quiz</a></li>
</ul>
	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span>Welcome!</h1>

		<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>Logout</a>
		<a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Profile</a>
	</div>

</div>
</body>
</html>