<!-- views/index.ejs -->
<!doctype html>
<html>
<head>

<% include ./index_partials/head %>
    <link href='https://fonts.googleapis.com/css?family=Palanquin:700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome-animation.min.css">

</head>
<body>

<% include ./index_partials/navbar %>

<div class="main_body_background">
<div class="mainContainer container">
	<div class="topPadding">
		    <h2 class="text-center">Quiz News</h2>
    <br/>
    <hr/>
    <br/>
    
        <section id="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <a style='color:black'href='/index'>
                    <div class="service-box">
                        <i class="fa fa-5x fa-question text-primary"></i>
                        <h3>Create Custom Quiz</h3>
						<p class="text-muted">Submit your own questions, or choose from a category selection of over 160,000 questions</p>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
					    <i class="fa fa-5x fa-share text-primary"></i>
                        <h3>Publish or Share</h3>
                        <p class="text-muted">You decide who can take your quizzes, they can be public or private, giving you total control.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <a style='color:black'href='/results'>
                    <div class="service-box">
                        <i class="fa fa-5x fa-pencil-square-o text-primary"></i>
                        <h3>Monitor Results</h3>
                        <p class="text-muted">Real time statistics generated so you can see who is taking your quizzes and how they are performing</p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    
    
    <img style="width:100%;" src="img/635935745994044508-NEWS-QUIZ-1-.jpg"/>
	<!--<div class="jumbotron text-center">-->
	<!--	<h1><span class="fa fa-lock"></span>Welcome!</h1>-->
	<!--	<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>Logout</a>-->
	<!--	<a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Profile</a>-->
	<!--</div>-->
	</div>
</div>
</div>

    <footer>
        
        <% include ./index_partials/footer %>
        
    </footer>

</body>
</html>