<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>QuizMaster</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

<% include ./index_partials/head %>

    <!-- Google custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Palanquin:700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    

    <!-- CSS and fon-awesome -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
	
	<link rel="stylesheet" href="font-awesome/css/font-awesome-animation.min.css">
<script>
$(document).ready(function(){
    //Signup button
    $('.signup_ancher').click(function(){
         $('#signup_modal').modal({
        show: 'true'
    }); 
    })
    //login Button
        $('.login_ancher').click(function(){
         $('#login_modal').modal({
        show: 'true'
    }); 
    })
    //recover password
        $('.recover_ancher').click(function(){
         $('#recover_modal').modal({
        show: 'true'
    }); 
})
 })
</script>
</head>


<body id="page-top" class= 'addBackground'>
        <div id="navSupportElement">
        <br>
        </div>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<img class = "logo-header" src = "img/logo.png" alt = "header-logo">
			</div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
				<li>
						<a class="page-scroll" href="#how-it-works">How It Works</a>
                    </li>
                    <li>
                        <a class="login_ancher btn btn-success" href="javascript:void(0)" data-toggle="modal">Log In</a>
					</li>
					<li>
						<a href="javascript:void(0)" data-toggle="modal" class="signup_ancher btn btn-primary btn-xl">Sign Up Now</a>
					</li>
				
					
                 </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div id= headderWrap>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Welcome to QuizMaster</h1>
				<p>Build, take and monitor quizzes, all for free! </p>
                <a href= "javascript:void(0)" class="signup_ancher btn btn-primary btn-xl" data-toggle="modal">Sign Up Now</a>
            </div>
        </div>
        <div>
    </header>

    <section id="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How It Works</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-5x fa-download text-primary"></i>
                        <h3>Register online or download application</h3>
                        <p class="text-muted">With cross platform functionality you can use your desktop, Apple or Android device</p>
						
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-5x fa-question text-primary"></i>
                        <h3>Create Custom Quiz</h3>
						<p class="text-muted">Submit your own questions, or choose from a category selection of over 160,000 questions</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
					    <i class="fa fa-5x fa-share text-primary"></i>
                        <h3>Publish or Share</h3>
                        <p class="text-muted">You decide who can take your quizzes, they can be public or private, giving you total control.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-5x fa-pencil-square-o text-primary"></i>
                        <h3>Monitor Results</h3>
                        <p class="text-muted">Real time statistics generated so you can see who is taking your quizzes and how they are performing</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="footer-distributed">

			<div class="footer-left">

				<p class="footer-links">
					<a href="#how-it-works">How It Works</a>
					路
					<a href="#">Log In</a>
					路
					<a href="#">Sign Up</a>
					路
					<a href="#">About</a>
					路
					<a href="#">Conditions</a>
				</p>
				<img src = "img/logo.png" width = "150" height = "150" alt = "Logo">
				<p class="footer-company-name">QuizMaster Inc &copy; 2016</p>
				

			</div>

			<div class="footer-right">

				<form method="get" action="#">
					<input placeholder="Search for a quiz" name="search" />
					<i class="fa fa-search"></i>
				</form>

			</div>

		</footer>
		
	<!----------------------------------Starting Login Modal Content----------------------------------------------->
                
		 <!-- Modal -->
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-login_modal">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
                    <h2 style='float:left;'><i class="glyphicon glyphicon-user"></i>Login</h2>
                </div>
                <div class="modal-body">

	<!-- LOGIN FORM -->
	<div id='login_content'>
	<form action="/login" method="post">
		<div class="form-group">
			<label style='float:left;'>Email</label>
			<input id='email' type="text" class="form-control input-lg" name="email">
		</div>
		<div class="form-group">
			<label style='float:left;' >Password</label>
			<input id='password' type="password" class="form-control input-lg" name="password">
		</div>
			</form>
<div style='display:none;' id='message' class="alert alert-danger"></div>
                
    <button id='Login_index' type="submit" class="btn btn-success">Login</button>
	<hr>
	<p>Forgot password? <a class="recover_ancher" href="javascript:void(0)" data-dismiss="modal"  data-toggle="modal">Recovere password</a></p>
	<p>Need an account? <a class="signup_ancher" href="javascript:void(0)" data-dismiss="modal"  data-toggle="modal">Signup</a></p>
	<!--<a class="btn btn-success" href="#signup_modal" data-dismiss="modal"  data-toggle="modal"><h4><i class="glyphicon glyphicon-eye-open"></i>Login</h4></a>-->
    </div>     

        </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->
       <br />
    
    <!-- Modal -->
    
                <!------------------------------------------finishing login modal content---------------------------------------->
                
                
                <!----------------------------------------------Singup modal content--------------------------------------------->
    
    		 <!-- Modal -->
    <div class="modal fade" id="signup_modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-signup_modal">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
                    <h2 style='float:left;'><i class="glyphicon glyphicon-plus"></i>Signup</h2>
                </div>
                <div class="modal-body">
                    
                    	<!-- LOGIN FORM -->
	          <form class="form-horizontal" action="/signup" method="POST">
          <fieldset>
            <div id="legend">
              <legend class="">Registration details:</legend>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" id="username_signup" name="username" placeholder="" class="form-control input-lg">
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="email">E-mail</label>
              <div class="controls">
                <input type="email" id="email_signup" name="email" placeholder="" class="form-control input-lg">
                <p class="help-block">Please provide your E-mail</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" id="password_signup" name="password" placeholder="" class="form-control input-lg">
                <p class="help-block">Password should be at least 6 characters</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password_confirm_signup">Password (Confirm)</label>
              <div class="controls">
                <input type="password" id="password_confirm_signup" name="password_confirm" placeholder="" class="form-control input-lg">
                <p class="help-block">Please confirm password</p>
              </div>
            </div>
         
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                
              </div>
            </div>
          </fieldset>
        </form>
        <div style='display:none;' id='message_signup' class="alert alert-danger"></div>
        <button id='signup_index' type="submit" class="btn btn-success">Register</button>
	<hr>
    
    <p>Need to login? <a class="login_ancher" href="javascript:void(0)" data-dismiss="modal"  data-toggle="modal">Login</a></p>                
	<p>Forgot password? <a class="recover_ancher" href="javascript:void(0)" data-dismiss="modal"  data-toggle="modal">Recovere password</a></p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->
            <!-------------------------------------------Finishing Signup Content------------------------------------------->
            
            
            <!-------------------------------------------Password Recovery Content------------------------------------------->
        		 <!-- Modal -->
    <div class="modal fade" id="recover_modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-recover_modal">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
                    <h2 style='float:left;'><i class="glyphicon glyphicon-lock"></i>Recover Password</h2>
                </div>
                <div class="modal-body">
                    
                    	<!-- LOGIN FORM -->
	<form action="/retrievePassword" method="post">
		<div class="form-group">
			<label>Email</label>
			<input id='email_retrieve' type="text" class="form-control input-lg" name="email">
		</div>
	</form>
	<div style='display:none;' id='message_retrieve' class="alert alert-danger"></div>
	<button id='retrieve_index' type="submit" class="btn btn-success">Send renewal link</button>
	<hr>
                    
	<p>Need to login? <a class="login_ancher" href="javascript:void(0)" data-dismiss="modal"  data-toggle="modal">Login</a></p>
	<p>Need an account? <a class="signup_ancher" href="javascript:void(0)" data-dismiss="modal"  data-toggle="modal">Signup</a></p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->
            <!------------------------------------------finishing recovery content------------------------------------------->
     <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- custom JavaScript -->
    <script src="js/quizmaster.js"></script>
    </body>
    </html>
