<!-- views/index.ejs -->
<!doctype html>
<html>
<head>

<% include ./index_partials/head %>

</head>
<body>

	<!--<% include ./index_partials/navbar %>-->


<div style='background-image: url("img/textures/texture1.jpg");' class="cta-mail">
    <div class="container text-center">
        <h2>Want more Bootstrap themes &amp; templates?</h2>
        <h4>Subscribe to our mailing list to receive an update when new items arrive!</h4>
        		<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>SingUp</a>
		<a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        </div>
        <!-- End MailChimp Signup Form -->
    </div>
</div>

</body>
</html>