
<!DOCTYPE html>
<html lang="en">
  <head>
<% include ./index_partials/head %>
  </head>
  <body>
    <div class="container">
<% include ./index_partials/navbar %>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="javascript:$('#saveImageModal').modal()" role="button">View navbar docs &raquo;</a>
        </p>
      </div>


<div id='saveImageModal' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Profile Picture</h4>
      </div>
      <div class="modal-body">
        
        <p>File Upload</p>
        <!--<form action='/upload' target="/upload" method="post">-->
        <!--<input type="file" name="uploading_file"/>-->
        <!--</br>-->
        <!--<input value='Save' data-original-title="Change Picture" data-toggle="tooltip" type="submit" class="btn btn-sm btn-warning"></input>-->

        <!--</form>-->
        
        <form action="/upload" method="POST" enctype="multipart/form-data">
          Select an image to upload:
          <input type="file" name="image"> 
            <input type="submit" value="UploadImage">
            </form>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    </div> <!-- /container -->
  </body>
</html>
