<!DOCTYPE html>

<head>
    <% include ./partials/head %>
        <script src="../js/newquiz.js"></script>
        <link href="/scripts/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
        <script src="/scripts/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
</head>

<body class="container">

    <header>
        <% include ./index_partials/navbar %>
    </header>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" aria-valuemin="0" aria-valuemax="100" id="progress">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <form role="form" action="newquiz" method="post">

                        <!-- STEP1 QUIZ NAME -->

                        <div class="form-group" id="step1">
                            <label for="qName">
                                Step 1: Choose your quiz name
                            </label>
                            <input class="form-control" id="qName" name="qName" placeholder="Quiz name"/>
                            <!--<button type="button" class="btn btn-danger" id="check">CHECK</button>-->
                        </div>

                        <!-- STEP2 QUIZ DESCRIPTION -->
                        
                        <div class="form-group" id="step2">
                            <label for="qDescription">
                                Step 2: Please provide a short description of your quizz (optional)
                                <%= user.local.email%>
                        <%= message.text%>
                            </label>
                            <textarea class="form-control" rows="3" id="qDescription" name="qDescription"></textarea>
                        </div>

                        <!-- STEP3 NUMBER OF QUESTIONS-->

                        <div class="form-group" id="step3">
                            <label for="qNumber">
                                Step 3: Please select if you would like to display all available questions each time or choose a number of questions to display.
                            </label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="true" name="cb_qNumber"> Display all available questions
                                </label>
                                <div id="qNumber_field">
                                    <br/>
                                    How many qestions you would like to display when a quiz is taken?
                                    <input class="form-control" id="qNumber" name="qNumber" />
                                </div>
                            </div>
                        </div>

                        <!-- STEP4 RANDOM ORDER QUESTIONS -->
                        <div class="form-group" id="step4">
                            <label for="shuffleQuestion">
                                Step 4: Display questions in random order.
                            </label>
                            <div class="cb_shuffleQuestion">
                                <label>
                                    <input type="checkbox" value="false" id="cb_shuffleQuestion" name="cb_shuffleQuestion"> Display questions in random order
                                    <input class="form-control" id="shuffleQuestion" name="shuffleQuestion" type="hidden"/>
                                </label>
                            </div>
                        </div>


                        <!-- STEP5 RANDOM ORDER ANSWERS -->
                        <div class="form-group" id="step5">
                            <label for="shuffleAnswers">
                                Step 5: Tick the box if you would like to display an answers in the random order. Please bear in mind that if you select this option you should avoid answers like "all above" or "none of the above".
                            </label>
                            <div class="cb_shuffleAnswers">
                                <label>
                                    <input type="checkbox" value="false" id="cb_shuffleAnswers" name="cb_shuffleAnswers"> Display answers in random order
                                    <input class="form-control" id="shuffleAnswers" name="shuffleAnswers" type="hidden"/>
                                    <input class="form-control" id="owner" name="owner" type="hidden" value=<%= user.local.email%>/>

                                
                                </label>
                            </div>
                        </div>

                        <!-- STEP6 DESIGN -->
                        <div class="form-group" id="step6">
                            <label for="design">
                                Step 6: Pick which design you would like to use for your quiz.
                            </label>
                            <div class="picklist">
                                <table>
                                    <tr>
                                        <td class="cratio"><input id="Default" type="radio" name="design" value="default" checked></td>
                                        <td><label for="Default">Default (placeholder for Default design picture)</label></td>
                                    <tr>
                                        <td class="cratio"><input id="Black" type="radio" name="design" value="Black"></td>
                                        <td><label for="Black">Black (placeholder for Black design picture)</label></td>
                                    </tr>
                                     <tr>
                                        <td class="cratio"><input id="Pink" type="radio" name="design" value="Pink"></td>
                                        <td><label for="Pink">Pink (placeholder for Pink design picture)</label></td>
                                    </tr>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                        <button type="button" class="btn btn-danger" id="back">Back</button>
                        <button type="button" class="btn btn-success" id="next">Next</button>
                        <button type="submit" class="btn btn-default" id="submit">Submit</button>
                    </form>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    <script>
        $(function(argument) {
            $('[type="checkbox"]').bootstrapSwitch();
        })
    </script>
</body>

</html>