<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <script src="../js/results.js"></script>
     <link href="/scripts/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <script src="/scripts/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<% include ./index_partials/head %>


</head>
<body>

<% include ./index_partials/navbar %>

<div class="mainContainer container">
	<div class="topPadding">
		    <h2 class="text-center">Results</h2>
    <br/>
    <hr/>
    <br/>
    
    
    

	</div>
</div>

    <footer>
        
        <% include ./index_partials/footer %>
        
    </footer>

</body>
</html>