<!DOCTYPE html>

<head>
    <% include ./partials/head %>
        <script src="../js/showlist.js"></script>
        <link href="/scripts/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
        <script src="/scripts/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
</head>

<body class="container">



        <% include ./index_partials/navbar %>
   

    <main>
    <% if (user.local.username !== "empty") { %>
    <input type="checkbox" value="false" id="cb_displayMine" name="cb_displayMine"> Display only mine quizzes
   <% }%>
    <% for(var i=0; i<list.length; i++) {%>
    <div class="container-fluid" id="<%= list[i]._id %>">
        <% if (user.local.email === list[i].owner) { %>
    	<div class="row mine">
    	    <% } else { %>
    	   <div class="row notMine">
    	    <% } %>
    		<div class="col-md-2">
    		    <% if (user.local.email === list[i].owner) { %>
    
                <a class="btn icon-btn btn-primary btn_questions">
                <span class="glyphicon btn-glyphicon glyphicon-question-sign img-circle text-normal"></span>
                Edit Questions
                </a>
                <a class="btn icon-btn btn-info btn_edit">
                <span class="glyphicon btn-glyphicon glyphicon-edit img-circle text-info"></span>
                Edit Settings
                </a>
                <a class="btn icon-btn btn-warning btn_remove" method="post">
                <span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>
                Remove Quiz
                </a>
    	    <% } %>
    		</div>
    		<div class="col-md-8">
    			<h2>
    				<%= list[i].qName %>
    			</h2>
    			<p>
    				<%= list[i].qDescription %>
    			</p>
    			<p>
    				<a class="btn" href="/quiz?id=<%= list[i]._id %>">Start »</a>
    			</p>
    		</div>
    		<div class="col-md-2">
    		</div>
    	</div>
    </div>
<% } %>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    <script>
        $(function(argument) {
            $('[type="checkbox"]').bootstrapSwitch();
        })
    </script>
</body>

</html>