<!DOCTYPE html>

<head>
    <% include ./index_partials/head %>
        <script src="../js/test.js"></script>
        <link href="/scripts/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
        <script src="/scripts/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
        <link rel="stylesheet" href="css/quiz.css"/>
</head>

<body >

        <% include ./index_partials/navbar %>
        
        <div class="mainContainer container">
         <% include ./form_questions %>
         <% include ./form_questions_edit %>
        <main class="topPadding">
        <div id="main-mid"></div>
        <div id="clockdiv">
          <span class="minutes"></span> : <span class="seconds"></span>
        </div>
        <div id="main-bot"><button type="button" id="qbtn" class="btn btn-default btn-sm btn-block" data-toggle="modal">Next</button></div>
        <div>
            Score so far: <span id="srate">0%</span> Correct: <span id="acorrect">0</span> Incorrect: <span id="awrong">0</span>
        </div>
        <div>
            Average time spent on each question: <span id="time"></span> seconds
        </div>
    </main>
    </div>

    <footer>
        <% include ./index_partials/footer %>
    </footer>
    <script>
        $(function(argument) {
            $('[type="checkbox"]').bootstrapSwitch();
        })
    </script>
</body>

</html>