.quizEntity:hover{
    ms-transform: scale(1.01,1.01); /* IE 9 */
    -webkit-transform: scale(1.01,1.01); /* Chrome, Safari, Opera */
    /*transform: rotate(7deg);*/
     transform: scale(1.01,1.01);
     background: #f2f2f2;
}
.quizEntity{
-webkit-box-shadow: 10px 10px 38px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 38px -9px rgba(0,0,0,0.75);
box-shadow: 10px 10px 10px -9px rgba(0,0,0,0.75);
    
}
.displayQuiz{

    border: 1px solid #6bb9ef ;
    
}
hr{
    border: 0;
    height: 1px;
    background: #6bb9ef;
    background-image: linear-gradient(to right, #ccc, gray, #ccc);

}