/*ADDING SOME CSSS*/
/*adding background image */




/*fixing login for firefox*/
.input-lg{
    clear:left;
}


.addBackground{
     background-image: url(../img/background-image.jpg);
     background-attachment:fixed;
}
#how-it-works{
    background-color:white;

}
#navSupportElement{
    margin-top:-100px;
    position:relative;
background-color:white;
height:100px;
    width:100%;
}
/*FINISHING HERE*/
.cratio {
	margin: 5px 0;
	padding: 5px 5px 5px 40px;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	text-align: left;
	border: 2px solid transparent;
	float: left;
	clear: none;
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family:'Palanquin', sans-serif;
}

a {
    /*color: #e60000;*/
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    /*color: #eb3812;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #e60000;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}
.logo-header {
	width:60px;
	height:60px;
	margin-top:auto;
	
}

section {
    padding: 90px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
	padding:10px;
	margin-top:auto;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #e60000;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #e60000!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #e60000;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #e60000;
    }
}

header {
    position: relative;
    width: 100%;
    height:46%;
	text-align: center;
    color: #fff;
    /*background-image: url(../img/header-bg.png);*/
    background: linear-gradient(150deg, rgba(117,23,73,0.9) 0%, rgba(31,115,155,0.9) 60%, rgba(31,115,155,0.9) 75%, rgba(116,150,26,0.9) 100%);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
	color:rgba(236,27,35,.9);
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
	/*color:rgba(235,25,35);*/
	color:white;
    margin-bottom: 0;
    text-shadow:2px 2px #000000;
    font-weight: 700;
}

header .header-content .header-content-inner p {
	text-shadow:.5px .5px #000000;
    margin-bottom: 10px;
	font-size: 16px;
    font-weight: 700;
    /*color:rgba(236,27,35,.9);*/
    color: white;
}

@media(min-width:768px) {
    header {
        min-height: 55%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 700px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}


@media(min-width:600px) {
    .service-box {
        margin: 20px auto 0;
    }
}

/*.text-primary {*/
/*    color: #e60000;*/
/*}*/

.btn-default {
    border-color: #fff;
    color: #3385ff;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

/*Footer Style*/
.footer-distributed{
	font-family: 'Roboto', sans-serif;
	background-color: #222;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px;
	text-align: left;

	padding: 50px 60px;

	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer right */

.footer-distributed .footer-right{
	float: right;
}

/* The search form */

.footer-distributed form{
	position: relative;
}

.footer-distributed form input{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #808080;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #000000;

	width: 500px;
	padding: 18px 50px 18px 18px;
}

.footer-distributed form input:focus{
	outline: none;
}

/* Changing the placeholder color */

.footer-distributed form input::-webkit-input-placeholder {
	color:  #000000;
}

.footer-distributed form input::-moz-placeholder {
	opacity: 1;
	color:  #000000;
}

.footer-distributed form input:-ms-input-placeholder{
	color:  #000000;
}

/* The magnify glass icon */

.footer-distributed form i{
	width: 18px;
	height: 18px;
	position: absolute;
	top: 16px;
	right: 18px;
	color: #000000;
	font-size: 18px;
}

@media (max-width: 992px) {

	.footer-distributed form input{
		width: 300px;
	}

}

@media (max-width: 768px) {

	.footer-distributed{
		padding: 30px;
		text-align: center;
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		margin-top: 10px;
		font-size: 12px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 20px;
	}

	.footer-distributed form input{
		width: 100%;
	}

}


