<!-- footer.ejs -->

<p class="text-center text-muted">© Copyright 2016 The Awesome People</p>

        <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- custom JavaScript -->
    <script src="js/quizmaster.js"></script>